
@model ForgetPasswordViewModel

<form asp-action="SendSms">
    <!-- Email input -->
    <div class="form-outline mb-4">
        <input type="email" id="form2Example1" asp-for="@Model.Email" class="form-control" />
        <label class="form-label" asp-for="@Model.Email" for="form2Example1">Email address</label>
        <span asp-validation-for="@Model.Email"></span>
    </div>
    <input type="submit" class="btn btn-primary btn-block mb-4" value="forget password">
    <a asp-action="SignIn" asp-controller="Account">back</a>
</form>