
@{
    ViewData["Title"] = "Reset Password completed";

}


<div  class="main-agileinfo">
    <div class="agileits-top">
        <div class="body">
            <div >
                Your password was reseted successfully, please login again with the new password
            </div>
        </div>
        <div>
            <a asp-action="SignIn" asp-controller="Account">Log In</a>
        </div>
    </div>
</div>