
@model string

<td>
    <a asp-action="details" class="btn btn-info" asp-route-id="@Model">
        <i class="fas fa-eye"></i> details
    </a>
</td>
<td>
    <a class="btn btn-danger" asp-action="delete" asp-route-id="@Model">
        <i class="fas fa-trash"></i> delete
    </a>
</td>
<td>
    <a class="btn btn-warning" asp-action="update" asp-route-id="@Model">
        <i class="fas fa-edit"></i> update
    </a>
</td>